# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
# Entornos Virtuales
venv/
env/
.venv/

# Editores e IDEs
.vscode/

# Sistema Operativo
.DS_Store
Thumbs.db

# Archivos descargados de la app
*.zip
*.png